@use "fonts";
@use "utils" as utils;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 211 41% 97%;
    --foreground: 214 15% 32%;
    --foreground-accent: 214 16% 28%;
    --card: 0 0% 100%;
    --card-accent: 0 0% 90%;
    --card-foreground: 214 15% 32%;
    --popover: 202 100% 96%;
    --popover-foreground: 214 15% 32%;
    --primary: 203 82% 42%;
    --primary-accent: 203 79% 32%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 5% 81%;
    --secondary-foreground: 0 0% 100%;
    --muted: 214 13% 67%;
    --muted-foreground: 0 0% 100%;
    --accent: 203 79% 32%;
    --accent-foreground: 0 0% 9%;
    --destructive: 2 54% 58%;
    --destructive-foreground: 0 0% 98%;
    --success: 154 51% 46%;
    --success-foreground: 0 0% 98%;
    --border: 214 16% 76%;
    --border-accent: 214 10% 57%;
    --stroke: 0 0% 82%;
    --gold: 39 97% 61%;
    --input: 0 0% 90%;
    --ring: 203 82% 42%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --heading-h2: 213 63% 38%;
    --heading-h3: 212 78% 32%;
    --heading-h3-accent: 219 53% 34%;
    --heading-h4: 219 56% 22%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  input[type="search"] {
    &::-webkit-search-cancel-button {
      display: none;
    }
  }
}

@layer utilities {
  .main-container {
    display: grid;
    grid-template-columns:
      utils.calc-clamp(1rem, 3rem, 640, 1536) [main-start] repeat(24, 1fr)
      [main-end] utils.calc-clamp(1rem, 3rem, 640, 1536);
    grid-auto-rows: max-content;
  }
  .max-container {
    max-width: 90rem;
    width: 100%;
    margin-inline: auto;
  }

  .main-space {
    & > * + * {
      margin-top: utils.calc-clamp(3rem, 5.75rem, 640, 1536);
    }
  }

  .date-picker-cell {
    &:has(.rdp-day_range_start) {
      @apply rounded-l-xl;
    }
  }

  .inset-center {
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }
}

@layer components {
  .html-parser {
    @apply ~space-y-3/4 ~text-base/lg;

    h2 {
      &:not(:first-child) {
        margin-top: utils.calc-clamp(1.5rem, 2rem, 640, 1536) !important;
      }
      @apply text-h2 text-heading-h3;
    }

    h3 {
      &:not(:first-child) {
        margin-top: utils.calc-clamp(1rem, 1.5rem, 640, 1536) !important;
      }
      @apply text-h3 text-heading-h4;
    }

    ul {
      @apply space-y-1;

      li {
        display: grid;
        grid-template-columns: min-content auto;
        gap: 0.5rem;
        align-items: baseline;
        min-height: 2rem;

        &::before {
          content: url("/icons/marker.svg");
          min-width: 2rem;
          text-align: center;
        }
      }
    }

    ol {
      @apply space-y-1;

      li {
        display: grid;
        grid-template-columns: min-content auto;
        align-items: baseline;
        gap: 0.5rem;
        min-height: 2rem;
        counter-increment: list-item;

        &:before {
          content: counter(list-item, decimal);
          font-weight: 500;
          min-width: 2rem;
          text-align: center;
          @apply text-primary;
        }
      }
    }
  }

  .current-section-layout {
    @apply col-span-full grid gap-y-8 grid-cols-subgrid;

    &__first {
      @apply md:col-span-10 col-span-full m-md:col-span-11 m-xl:col-span-8;

      &._col-one-more {
        @apply md:col-span-11 col-span-full m-md:col-span-12 m-xl:col-span-9;
      }
    }
    &__second {
      @apply m-xl:col-[11/span_9] m-md:col-[15/span_10] md:col-[13/span_12] col-span-full;
    }
    &__text {
      @apply ~space-y-2/3 ~text-base/lg !leading-[1.3];
    }
  }
}
